.hero {
  text-align: center;

  padding: 200px 0;

  background-color: $hero-bg-color;
  background-image: linear-gradient(to top, $linear-gradient-color, $linear-gradient-color), url(../img/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background-primary-color;

  margin-bottom: 30px;
}
