.subscribe {
  margin-left: 90px;
  width: 570px;
}

.subscribe__form {
  display: flex;
  gap: 12px;
}

.subscribe__email {
  width: 100%;
  padding: 15px;

  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  outline: none;

  font-size: 16px;
  line-height: 1.25;

  color: $address-info-color;
}

.subscribe__title {
  margin-bottom: 20px;

  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;

  color: $background-primary-color;
}
